body {
	background-color: #17023d;
}
p {
	color: #a456e5;
}
#tapka {
	display: block;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}
#ng1 {
	color: #a456e5;
	text-align: center;	
}
#linkbox { 
	background-image: url("media_images_ptoszek.jpg");
	text-align: left;
	width: 305px;
	margin-right: auto;
	font-size: 200%;
}
#lista {
	list-style-type: circle;
}	
a {
	color: white;
}
#linki {
	color: #a456e5;
	margin-left: 35px;
	font-size: 200%;
}